LoginRegister/Site1/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentList" nillable="true" type="tns:StudentList" />
  <xs:complexType name="Student">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element minOccurs="0" name="Classs" nillable="true" type="tns:Class" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Realid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="School" nillable="true" type="tns:School" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="HouseKeeper">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element minOccurs="0" name="JoinDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HouseKeeper" nillable="true" type="tns:HouseKeeper" />
  <xs:complexType name="Report">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Classs" nillable="true" type="tns:Class" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Student" nillable="true" type="tns:Student" />
          <xs:element minOccurs="0" name="Tools" nillable="true" type="tns:Tools" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="Class">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="School" nillable="true" type="tns:School" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Class" nillable="true" type="tns:Class" />
  <xs:complexType name="School">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Classlist" nillable="true" type="tns:ClassList" />
          <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="School" nillable="true" type="tns:School" />
  <xs:complexType name="ClassList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class" nillable="true" type="tns:Class" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassList" nillable="true" type="tns:ClassList" />
  <xs:complexType name="Problems">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Report">
        <xs:sequence>
          <xs:element minOccurs="0" name="Issolved" type="xs:boolean" />
          <xs:element minOccurs="0" name="SolvingTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Problems" nillable="true" type="tns:Problems" />
  <xs:complexType name="Tools">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Classs" nillable="true" type="tns:Class" />
          <xs:element minOccurs="0" name="ToolName" nillable="true" type="tns:ToolName" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tools" nillable="true" type="tns:Tools" />
  <xs:complexType name="ToolName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ToolName1" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolName" nillable="true" type="tns:ToolName" />
  <xs:complexType name="HouseKeeperList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseKeeper" nillable="true" type="tns:HouseKeeper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseKeeperList" nillable="true" type="tns:HouseKeeperList" />
  <xs:complexType name="ToolList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tools" nillable="true" type="tns:Tools" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToolList" nillable="true" type="tns:ToolList" />
  <xs:complexType name="ProblemsList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Problems" nillable="true" type="tns:Problems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProblemsList" nillable="true" type="tns:ProblemsList" />
  <xs:complexType name="SchoolList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="School" nillable="true" type="tns:School" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchoolList" nillable="true" type="tns:SchoolList" />
  <xs:complexType name="ToolNameList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToolName" nillable="true" type="tns:ToolName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToolNameList" nillable="true" type="tns:ToolNameList" />
</xs:schema>